.pdInfo {
    // div {
    //     margin: 10px 0;
    // }
    .item_info_id {
        position: relative;
        width: 100%;
        display: block;
        // margin-top: 40px;
        .icon_wishlist {
            position: absolute;
            top: 0;
            right: 0;
            margin-top: -5px;
            margin-right: 0;
            width: 30px;
            height: 30px;
            text-align: center;
            border: 1px solid $gray-400;
            cursor: pointer;
            @include border-radius(50px);
            @include media-breakpoint-down(sm) {
                padding-top: 3px;
                u {
                    font-size: 12px;
                }
            }
            &.add_wishlist {
                background-color: $pink;
                u {
                    color: $white;
                }
            }
        }
    }
    .pd_name {
        font-size: 19px;
        // font-weight: bold;
        margin: 15px 0 5px 0;
        line-height: 1.5;
        letter-spacing: 0.05em;
        text-align:justify;
    }
    .pd_price {
        min-height: 35px;
        margin-bottom: 10px;
    }
    .pd_color {
        display: flex;
        align-items: flex-start;
        min-height: 30px;
        margin-bottom: 15px;
        ul {
            display: flex;
            flex-wrap: wrap;
            max-width: 73%;
            @include media-breakpoint-down(sm) {
                max-width: 77vw;
            }
            li {
                padding: 3px 4px;
                border: 1px solid $white;
                cursor: pointer;
                &.select {
                    border: 1px solid $gray-900;
                }
                img{
                    width: 35px;
                    height: 15px;
                }
            }
        }
        .color-name {
            font-size: 14px;
            margin-left: .5em;
            margin-right: 0.25em;
            margin-top: -.25em;
            flex-basis: 20%;
        }
    }
    .sizeList {
        position: relative;
        cursor: pointer;
        margin: 0 -.3em;
        // @include media-breakpoint-down(sm) {
        //     &.mb_space {
        //         margin-bottom: 40vw;
        //     }
        // }
        span {
            margin: .3em;
        }
        .pd_soldout {
            cursor: default;
        }
        li {
            // cursor: default;
            // opacity: .5;
            .size_name {
                width: 32px;
                height: 32px;
                font-size: 11px;
                display: inline-block;
                text-align: center;
                color: $gray-800;
                border: 1px solid $gray-800;
                margin: .3em .2em;
                padding-top: 3px;
                @include border-radius(50px);
                @include media-breakpoint-down(sm) {
                    width: 11vw;
                    height: 11vw;
                    font-size: 12px;
                    padding-top: 2vw;
                }
            }
            .size_detail {
                display: none;
                padding: 10px;
                background-color: $pink;
                color: $white;
                text-align: left;
                border: 0;
                font-size: 12px; // display: block;
                @include shadow(2px, 3px);
            }
            // &.hasStock {
            //     opacity: 1;
            //     cursor: pointer;
            // }
            &.pd_soldout {
                opacity: .3 !important;
            }
            &:hover {
                &:before {
                    content: "";
                    position: absolute;
                    margin-top: -7px;
                    margin-left: 12px;
                    z-index: 556;
                    @include triangle(bottom, $pink, 10px, 12px);
                    @include animation (0, .3s, fadeIn, forwards, unset, 1);
                }
                .size_name {
                    background-color: $gray-100;
                }
                .size_detail {
                    display: block;
                    position: absolute;
                    top: -170px;
                    left: -10px;
                    margin-top: 47px;
                    z-index: 555;
                    width: 110%;
                    height: auto;
                    @include border-radius(0);
                    @include animation (0, .3s, fadeIn, forwards, unset, 1);
                }
                @include media-breakpoint-down(sm) {
                    &:before {
                        top: 0;
                        margin-left: 18px;
                        // @include triangle(bottom, $pink, 10px, 12px);
                    }
                    .size_detail {
                        // margin-top: -170px;
                        width: 100%;
                        left: -1vw;
                    }
                }
            }
            &.select {
                .size_name {
                    border-color: $red;
                    border-width: 2px;
                    // background-color: rgba($color: $pink, $alpha: .7);
                    color: $red;
                    font-weight: bold;
                    // -webkit-text-stroke: 1px $red;
                    padding-top: 2px;
                    @include media-breakpoint-down(sm) {
                        padding-top: 6px;
                    }
                }
            }
            &.noDetail:hover:before {
                display: none;
            }
        }
    }
    .pd_note {
        display: block;
    }
    .pd_qty {
        position: relative;
        width: 100%;
        height: 42px;
        display: block !important;
        border: 1px solid $gray-400;
        overflow: hidden;
        // margin-bottom: 10px;
        .qty_mask {
            position: absolute;
            top: 0;
            left: calc(50% - 30%);
            margin-top: 0;
            z-index: 55;
            width: 60%;
            text-align: center;
            color: $gray-400;
            // background-color: rgba($color: $white, $alpha: .7);

            background-color: $white;
            // border: 1px solid $gray-800;
            // @include animation (1s, .5s, fadeIn, forwards, unset, 1);
            span {
                width: 100%;
                height: 100%;
                height: 40px;
                display: block;
                margin: 0 auto;
                padding:5px 0;
                // border: 1px solid #f00;
                background-color: $white;
                font-size: 14px;
            }
        }
        input {
            text-align: center;
            // border-color: $gray-900;
        }
        .btn {
            width: 42px;
            border-width: 0;
        }
        .form-control:disabled,
        .bootstrap-touchspin-down:disabled,
        .bootstrap-touchspin-up:disabled {
            background-color: $white;
            opacity: .4;
        }
        .bootstrap-touchspin-down{
            border-right: 1px solid $gray-500;

        }
        .bootstrap-touchspin-up{
            border-left: 1px solid $gray-500;

        }
        #pdQtyNum{
            border: 0;
            height: 42px;
        }
    }
    .pd_stock_remind {
        color: $purple;
        // margin-top: -10px;
        margin-bottom: 1em;
    }
    .pd_btn {
        margin-top: 10px;
        // margin-bottom: 10px;
        a {
            display: block;
        }
    }
    .seoBox {
        margin-bottom: 10px;
    }
    .eventBox {
        // border-bottom: 1px solid #ddd;
        margin-bottom: 10px;
        h5 {
            font-weight: bold;
            // border-bottom: 1px solid #ddd;
            line-height: 2em;
            // margin-bottom: .2em;
            color: #333333;
            font-size: 1rem;
        }
        ul {
            padding-bottom: 10px;
            li {
                a {
                    color: $gray-900;
                    font-size: 12px;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                span {
                    background: $purple;
                    padding: 0.4em 0.6em;
                    margin-right: 0.3em;
                    color: #ffffff;
                    font-size: 12px;
                    .icon_arrow_right {
                        font-size: 10px;
                        margin-left: .3em;
                        margin-right: 0;
                    }
                }
            }
        }
    }
    .pdOthers {
        ul {
            display: flex;
            justify-content: space-between;
            li {
                border: 1px solid $gray-900;
                padding: .1em .6em;
                a {
                    &:hover {
                        text-decoration: none !important;
                    }
                    i {
                        margin-right: .2em;
                        vertical-align: middle;
                        u {
                            font-size: 16px;
                        }
                    }
                    span {
                        font-size: 12px;
                        vertical-align: middle;
                        display: inline-block;
                    }
                }
                &.pd_looks {
                    display: none;
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
        @include media-breakpoint-down(md) {
            // ul li {
            //     padding: 0.1em 0.4em;
            //     i {
            //         margin-right: 0;
            //     }
            // }
        }
        @include media-breakpoint-down(sm) {
            width: 100%;
            ul {
                width: 100vw;
                margin-left: -15px;
                padding: 10px 0;
                flex-grow: 1;
                border-top: 1px solid $gray-600;
                border-bottom: 1px solid $gray-600;
                li {
                    text-align: center;
                    padding: 0;
                    flex-basis: 25%;
                    border: 0;
                    border-right: 1px solid $gray-400;
                    &:last-child {
                        border: 0;
                    }
                    a {
                        display: block;
                        color: $gray-600;
                        .icon {
                            margin: 0;
                            line-height: 1;
                            u {
                                font-size: 1.5em;
                                line-height: 1;
                            }
                        }
                        i,
                        span {
                            display: block;
                        }
                        span {
                            font-size: 10px;
                        }
                    }
                    &.pd_looks {
                        display: block;
                    }
                }
            }
            &.pdOther_fixed {
                @include animation (0, .3s, fadeIn, forwards, unset, 1);
                position: relative;
                top: 0;
                left: 0;
                z-index: 99999999;
                // margin-top: 144px;
                width: 100vw;
                // padding-left: 15px;
                ul {
                    background-color: $white;
                    overflow: hidden;
                }
                .popup-with-form.active {
                    display: block;
                    color: $gray-900;
                }
            }
        }
    }
}

.pd_description {
    position: relative;
    font-size: 14px;
    font-weight: 600; 
    margin: 1.5em 0;
    padding:.5em .1em;
    span{
        display: block;
        line-height: 1.7;
    }
}

#modelPP {
    .popup_info {
        figure {
            width: 100%;
            padding: 0 10px;
            display: block;
            margin-bottom: 1.5em;
           
            &.model_card_m {
                display: none;
            }
            @include media-breakpoint-down(sm) {
                &.model_card_pc {
                    display: none;
                }
                &.model_card_m {
                    display: block;
                }
            }
            img {
                width: 100%;
            }
        }
        figcaption {
            min-width: 100%;
            text-align: center;
            h4 {
                font-size: 18px;
                padding-top: .3em;
                padding-bottom: .2em;
                margin-bottom: .2em;
                border-bottom: 1px solid $gray-400;
            }
            p {
                font-size: 14px;
            }
            span {
                font-size: 12px;
                display: block;
                color: $gray-600;
            }
        }
    }
}

#ContentPlaceHolder1_lookPP {
    max-width: 100%;
    border: 1px solid $gray-400;
    margin-top: 214px;
    padding: 0;
    padding-top: 20px;
    .btnClose {
        .i {
            margin: 0;
            line-height: 1;
            u {
                font-size: 1.5em;
                line-height: 1;
            }
        }
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: calc(50% - 120px);
        margin-top: -3px;
        width: 240px;
        height: 5px;
        background-color: $gray-900;
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
    .sliderPD {
        position: relative;
        width: 100%;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 0;
        @include media-breakpoint-down(xl) {
            width: 85%;
        }
        .slick-track>div {
            padding: 0 10px;
        }
        a {
            &:hover {
                text-decoration: none;
            }
        }
        img {
            max-width: 100%;
        }
        .slick-arrow {
            position: absolute;
            width: 1px;
            height: 1px;
            margin-top: -12px;
            @include border-radius(50px);
            @include media-breakpoint-down(sm) {
                display: none;
            }
        }
        .slick-prev:before,
        .slick-next:before {
            font-size: 32px;
            color: $gray-400;
            line-height: 0;
            @include border-radius(50px);
        }
        .slick-prev:before {
            margin-left: -20px;
        }
        .slick-next:before {
            margin-left: -13px;
        }
        figcaption {
            width: 100%;
            overflow: hidden;
            display: block;
            // text-align: centlefter;
            margin-bottom: 15%;
            font-size: 14px;
            line-height: 1.5em;
            &>div {
                @include text-ellipsis(100%);
            }
            @include text-ellipsis(100%);
            @media (max-width: 1367px) {
                font-size: 12px;
            }
        }
        @include media-breakpoint-down(sm) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 100%;
            padding-right: 5px;
            figure {
                width: 50%;
                padding: 0 10px;
            }
        }
    }
    @include media-breakpoint-down(xl) {
        max-width: calc(100% - 40px);
    }
    @include media-breakpoint-down(sm) {
        max-width: 100%;
        margin-top: 0;
        border: 0;
        display: none;
    }
    @include media-breakpoint-up(md) {
        .basicTitle {
            margin-top: -130px !important;
        }
        .sliderPD {
            margin-top: 70px;
        }
    }
}

.storeBox {
    table {
        td,
        th {
            text-align: left;
        }
    }
}

@include media-breakpoint-down(sm) {
    .pdinfo_show_m {
        // border: 1px solid #f00;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999999991;
        width: 100vw;
        // margin-top: 11px;
        margin: 0;
        padding: 0;
        // padding-top: 20px;
        // height: calc(100vh - 210px);
        height: 100vh;
        overflow: hidden;
        @include animation (0, .3s, fadeIn, forwards, unset, 1);
        .btnClose {
            top: 0;
            right: 0;
            display: block;
        }
        &#ContentPlaceHolder1_lookPP {
            top: 0;
        }
    }
    .popup_info {
        width: 100%;
        padding: 0;
        height: calc(100% - 43px - 70px);
        overflow: hidden;
        
        .popup_info_scroll {
        position: absolute;
        width: 100%;
        height: calc(100% - 10px);
        overflow-y: scroll;
    }
    }
    
    .wrapperThreeColumns .content {
        position: inherit !important;
    }
    #howtouse{
    .popup_info{
        .popup_info_scroll{
            position: inherit;
            width: auto;
            height: auto;
            
        }
    }
}
#sizePP{
        .popup_info_scroll {
                width: 100vw;
                height: 100vh;
                overflow-y: auto;
            }
    }
}

#sizePP {
    @include media-breakpoint-down(sm) {
        .popup_info {
            position: relative;
            padding: 2em 0;
            width: 100vw;
            height: 100vh;
            .popup_info_scroll {
                width: 100vw;
                height: 100vh;
                overflow-y: auto;
            }
            table {
                // margin: 5em 0 10em 0;
                tr {
                    td,
                    th {
                        padding: .1em;
                    }
                }
                &:first-child {
                    padding: .5em;
                }
            }
        }
    }
}
#storePP {
    @include media-breakpoint-down(sm) {
        .popup_info {
            position: relative;
            padding: 2em 0;
            width: 100%;
            height: 100vh;
            .popup_info_scroll {
                width: 100%;
                height: 100vh;
                overflow-y: auto;
                padding: 1em;
            }
            table {
                margin: 5em 0 10em 0;
                tr {
                    td,
                    th {
                        padding: .1em;
                    }
                }
                &:first-child {
                    padding: .5em;
                }
            }
        }
    }
}

.product-heading{
    small{
        margin-top: 1em;
        margin-bottom: .5em;
    }
}
.normal-range{
    display: block;
    font-size: 12px;
    padding-bottom: 1em;
}
.pic_cover{
    position: absolute;
    z-index: 99;
}

#picSlider{
   display: none;
   max-width: 100%;
   .slick-dots{
    top: 110vw;
   }
   .slick-dots li{
    margin: 0 3px;
    button:before{
        font-size: 12px;
       }
   }
   figure{
    max-width: 100%;
    border: 1px solid $gray-300;
    img{width: 100%;}

   }
   .slick-arrow{
    &::before{
        content: "";
        display: inline-block;
        width: 30px;
        height: 30px;
        background-image: url(https://photo.polylulu.com.tw/Photo/newweb/images/i_down.svg);
        background-size:cover;
        // border: 1px solid #f00;
       }
       &.slick-prev{
        left: 2vw;
        z-index: 9;
        &::before{
            @include rotate (90);
        }
       }
       &.slick-next{
        right: 4vw;
        &::before{
            @include rotate (-90);
        }
       }
   }
   
   
   @include media-breakpoint-down(sm){
display: block;
   }
   
}

.ootdArea{
    padding: 20px 0;
    h5{
        line-height: 1;
        font-weight: bold;
        text-align: center;
        font-size: 18px;
    }
    .ootd_tt{
        width: 100%;
        color: $gray-600;
        margin-bottom: 1em;
        text-align: center;
        @include media-breakpoint-down(sm){
font-size: 12px;
        }
        
    }
}

#OOTD{
    .slick-slide img{
        max-width: 100%;
    }
    
    figure{
        padding: 0 3px;
        .ootd_item{
            border: 1px solid $gray-300;
        }
    }
    figcaption{
        padding: 5px;
        &>div{
            display: flex;
            justify-content: space-between;
        }
    }
    a{
        text-decoration: none;
        &:hover{
            filter: brightness(1.05);
        }
    }
    .ootd_name{
        // float: left;
        font-size: 14px;
        font-weight: bold;
        // border: 1px solid #f00;
        @include text-ellipsis (70%);
    }
    .ootd_size{
        // float: right;
        flex-grow: 0;
        align-self: center;
        font-size: 10px;
        line-height: 1.5;
        background-color: $gray-500;
        padding: 0 5px;
        margin-top: 4px;
        color: $white;
        @include border-radius(5px);
    }
    .ootd_measure{
        width: 100%;
        // margin-top: 5px;
        font-size: 10px;
        display: block;
        @include clearfix();
    }
    .slick-arrow{
        .slick-prev:before, .slick-next:before{
            opacity: 1;

        }
        &::before{
            content: "";
            display: inline-block;
            width: 30px;
            height: 30px;
            background-image: url(https://photo.polylulu.com.tw/Photo/newweb/images/arrow_ootd.png);
            background-size:cover;
            // border: 1px solid #f00;
           }
           &.slick-prev{
            top: 110px;
            left: -13px;
            z-index: 9;
            &::before{
                @include rotate (90);
            }
           }
           &.slick-next{
            top: 110px;
            right: -3px;
            &::before{
                @include rotate (-90);
            }
           }
           @include media-breakpoint-down(sm){
            &.slick-prev,&.slick-next{
                top: 26vw;
            }}
       }
       
       &.slick-prev{
        left: 2vw;
        z-index: 9;
        &::before{
            @include rotate (90);
        }
       }
       &.slick-next{
        right: 4vw;
        &::before{
            @include rotate (-90);
        }
       }
}
.ootd_info{
    display: flex;
    .ootd_info_left{
        width: 50%;
        img{
            max-width: 100%;
        }
    }
    .ootd_info_right{
        width: 50%;
        padding-left: 1rem;
    }
    .ootd_name{
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        // border: 1px solid #f00;
    }
    .ootd_title{
        font-size: 14px;
        color: $gray-700;
        display: block;

    }
    .ootd_size{
        display: inline-block;
        font-size: 12px;
        line-height: 1.5;
        background-color: $gray-500;
        padding: 0 5px;
        color: $white;
        @include border-radius(5px);
    }
    .ootd_measure{
        width: 100%;
        // margin-top: 5px;
        font-size: 12px;
        display: block;
        @include clearfix();
    }
    .ootd_commet{
        margin-top: 2em;
        text-align:left;
    }

}


#ootdPP{
    @include media-breakpoint-down(sm) {
        .popup_info {
            position: relative;
            padding: 2em 0;
            width: 100%;
            height: 100vh;
            .popup_info_scroll {
                width: 100%;
                height: 100vh;
                overflow-y: auto;
                padding: 1em;
            }
            table {
                margin: 5em 0 10em 0;
                tr {
                    td,
                    th {
                        padding: .1em;
                    }
                }
                &:first-child {
                    padding: .5em;
                }
            }
        }
        .ootd_info{
            display: block;
            .ootd_info_left, .ootd_info_right{
                width: 100%;
                padding-left: 0;
            }
            .ootd_info_right{
                position: relative;
                margin-top: .5rem;
                .ootd_size{
                    position: absolute;
                    top: .5em;
                    right: 0;
                    display: inline-block;
                    width: auto;
                }
                .ootd_measure{
                    position: absolute;
                    top: .3em;
                    right: 4em;
                    display: inline-block;
                    width: auto;
                }
            }
            
            
        }
    }
}

@include media-breakpoint-down(sm){
    #section-youtube-vid{
    
        // border: 1px solid #f00;
        &:before{
            content: "";
            position: absolute;
            z-index: 99;
            width: 100%;
            height: 100%;
            display: block;
            // background-color: #f00;
        }
    }
}
